@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


/* 내용 부분 */
section {
  width: 100%;
  height: 1400px;
}

article {
  width: 1290px;
  height: 100px;
  margin: 0 auto;
  border: 1px solid BLACK;
}


/* 뉴스, story 부분 */
.nwst_wrap {
  width: 100%;
  height: 646px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.nwst_wrap .left_wrap {
  width: 630px;
  height: 646px;
  box-sizing: border-box;
  /* border: 1px solid black; */
  position: relative;
}

.nwst_wrap .left_wrap h2 {
  font-size: 32px;
  font-weight: 300;
  color: #1B1B1C;
  letter-spacing: 0.3em;
  margin: 120px 0 35px;
}

.nwst_wrap .left_wrap .more {
  width: 67px;
  height: 25px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.12em;
  color: #5C5C5C;
  background: url(../images/ico_re_plus.png) no-repeat right 30%;
  position: absolute;
  top: 130px;
  right: 0px;
}

.nwst_wrap .left_wrap .news_list {
  border-top: 2px solid #1D1D1D;
}

.nwst_wrap .left_wrap .news_list li {
  height: 110px;
  border-bottom: 1px solid #DCDCDC;
  /* border: 1px solid black; */
}

.nwst_wrap .left_wrap .news_list a {
  display: flex;
}

/* 총 width 630px */
.nwst_wrap .left_wrap .news_list .tit {
  width: 480px;
  font-size: 17px;
  font-weight: 600;
  color: #1D1D1D;
  letter-spacing: -0.05em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 27px;
  line-height: 110px;
}

.nwst_wrap .left_wrap .news_list .date {
  width: 133px;
  font-size: 14px;
  font-weight: 600;
  color: #8A8D8F;
  letter-spacing: -0.02em;
  text-align: center;
  line-height: 110px;
}

/* 뉴스, story 오른쪽 */

.nwst_wrap .right_wrap {
  width: 550px;
  height: 646px;
  box-sizing: border-box;
  /* border: 1px solid black; */
  position: relative
}

.nwst_wrap .right_wrap h2 {
  font-size: 32px;
  font-weight: 300;
  color: #1B1B1C;
  letter-spacing: 0.3em;
  margin: 120px 0 35px;
}

.nwst_wrap .right_wrap .more {
  width: 67px;
  height: 25px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.12em;
  color: #5C5C5C;
  background: url(../images/ico_re_plus.png) no-repeat right 30%;
  position: absolute;
  top: 130px;
  right: 0px;
}


.nwst_wrap .right_wrap .slide img {
  width: 550px;
  height: 300px;
}

.nwst_wrap .right_wrap .slide .txt h3 {
  font-size: 27px;
  font-weight: 700;
  color: #1D1D1D;
  letter-spacing: -0.05em;
  /* 글자가 칸을 벗어나도 줄바꿈 X */
  white-space: nowrap;
  /* 칸을 벗어나면 벗어난 내용 숨기기 */
  overflow: hidden;
  /* 글자가 칸을 넘어가면 ...을 넣어줘 */
  text-overflow: ellipsis;
}

.nwst_wrap .right_wrap .slide .txt p {
  height: 71px;
  font-size: 15px;
  font-weight: 400;
  color: #5C5C5C;
  letter-spacing: -0.05em;
  line-height: 1.7;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding-top: 20px;
}

/* 하단 membership 부분 */
.mem_wrap {
  width: 100%;
  height: 600px;
  display: flex;
}

.mem_wrap .left_set {
  width: 50%;
  height: 600px;
  background-color: #183029;
}

.mem_wrap .left_set .center {
  width: 645px;
  height: 600px;
  float: right;
  /* border: 1px solid WHITE; */
  box-sizing: border-box;
  /* color: WHITE; */
}

.mem_wrap .left_set .center h4 {
  padding-top: 105px;
  font-size: 32px;
  font-weight: 600;
  color: #537C70;
  letter-spacing: 0.3em;
}

.mem_wrap .left_set .center h3 {
  padding-top: 48.5px;
  font-size: 42px;
  font-weight: 600;
  color: #FFF;
  letter-spacing: -0.03em;
}

.mem_wrap .left_set .center p {
  padding-top: 23px;
  font-size: 16px;
  font-weight: 300;
  color: #FFF;
  line-height: 2.2;
  letter-spacing: 0;
}

.mem_wrap .left_set .center a {
  display: inline-block;
  width: 270px;
  height: 70px;
  background-color: #0B1915;
  font-size: 17px;
  font-weight: 600;
  color: #FFF;
  line-height: 60px;
  letter-spacing: -0.05em;
  box-sizing: border-box;
  padding-left: 45px;
  float: right;
}

.mem_wrap .left_set .center a span {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../images/ico_re_plus_white.png) no-repeat;
  background-size: 80% 80%;
  position: relative;
  top: 6px;
  left: 10px
}

.mem_wrap .left_set .center a:after {
  content: "";
  width: 25px;
  height: 25px;
}

.mem_wrap .right_set {
  width: 50%;
  height: 600px;
  background: url(../images/img_re_main_membership.jpg) no-repeat;
  background-size: cover;
}

/* footer 부분 (최하단) */
footer {
  width: 100%;
  height: 265px;
  margin-top: 160px;
  background-color: #1D1D1D;
}

.footer {
  width: 1290px;
  height: 265px;
  margin: 0 auto;
  display: flex;
  color: WHITE;
}

.footer .ftnavi {
  width: 1042px;
  height: 265px;
  box-sizing: border-box;
  /* border: 1px solid PINK; */
}

.ftnavi ul {
  display: flex;
  box-sizing: border-box;
  padding-top: 52px
}

.ftnavi li a {
  font-size: 14px;
  font-weight: 300;
  color: #FFF;
  letter-spacing: -0.03em;
  margin: 0 34px 10px 0;
  ;
}

.ftnavi li:nth-child(3) a,
.ftnavi li:nth-child(4) a {
  font-size: 14.28px;
  font-weight: 600;
}

.ftnavi .addr {
  padding-top: 32px;
  font-size: 14px;
  letter-spacing: -0.05em;
  font-weight: 400;
  color: #767676;
}

.ftnavi .addr p {
  margin-bottom: 7px;
}

.ftnavi .abbr .add span {
  margin: 0 10px;
}

.ftnavi .abbr .tel span {
  margin: 0 20px;
}

.ftnavi .abbr .copy {
  margin-top: 25px;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.08em;

}

.footer .right {
  width: 248px;
  height: 265px;
  box-sizing: border-box;
  /* border: 1px solid PINK; */
}

.footer .right .sns {
  float: right;
  margin-top: 120px;
}

.footer .right .sns a {
  margin-right: 8px;
}

.footer .right .group { 
  float: right;
}

.footer .right .group select {
  appearance: none;
  border: none;
  opacity: 0.5;
  background: none;
}

.footer .right .group select:focus {
  outline: 0;
}

.footer .right .group .sel_box {
  margin-top: 20px;
  padding-left: 20px;
  width: 168px;
  height: 40px;
  border: 1px solid #666;
  font-size: 12px;
  color: #666;
  background: url(../images/bg_re_familry.png) no-repeat 90% 50%;
}

.footer .right .group button {
  width: 50px;
  height: 40px;
  color: #666;
  text-align: center;
  background: none;
  border: 1px solid #666;
}